@use 'base/variables' as v;
@use 'base/mixins' as m;

.nosotros{

    &__heading{
        padding: 5rem;
        @include m.heading; 
    }
    &__grid{
        @include m.grid(3, 2rem)         
        
    }
    &__bloque{
        text-align: center;
    }
    &__imagen{
        margin: 0 auto;
    }
    
}